<table style="width:100%" class="inning-batting-table table table-hover shadow">
  <thead class="thead-light">
    <th>Batsman</th>
    <th>Status</th>
    <th>R</th>
    <th>B</th>
    <th>4s</th>
    <th>6s</th>
    <th>SR</th>
  </thead>
  <tbody>
    <% inning["batting_card"].each do |batsman| %>
      <tr class="batsman-data" data-batsman-id=<%= batsman["profile_url"] %>>
        <td class="batsman-profile-url"><%= batsman["profile_url"]&.split("/")&.last&.titleize %></td>
        <td class="batsman-wicket-status"><%= batsman["wicket_status"] %></td>
        <td class="batsman-runs-scored"><%= batsman["runs_scored"] %></td>
        <td class="batsman-balls-faced"><%= batsman["balls_faced"] %></td>
        <td class="batsman-fours"><%= batsman["fours"] %></td>
        <td class="batsman-sixes"><%= batsman["sixes"] %></td>
        <td class="batsman-strike-rate"><%= batsman["strike_rate"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>