<h1>LiveScore</h1>
<h4><%= @match.recent? ? 'Result:' : 'Status:' %></h4><p id="live-match-status" data-match-id="<%= @match.id %>"><%= @match_data["match_result"] %></p>
<% @match_data["innings"].sort_by {|inning| inning["inning_number"]}.each do |inning| %>
  <div id=<%= "inning-#{inning["inning_number"]}" %>>
    <h3>Inning <%= inning["inning_number"] %> </h3>
    <p class="inning-status"><%= inning["name"] %></p>
    <%= render partial: 'live_inning_batting_card', locals: { inning: inning } %>
    <%= render partial: 'live_inning_bowling_card', locals: { inning: inning } %>
  </div>
<% end%>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>