<h1>ScoreCard</h1>
<% @innings.each do |inning| %>
  <div>
    <h3>Inning <%= inning.inning_number %> </h3>
    <p><%= inning.name %></p>
  </div>
  <%= render partial: 'inning_batting_card', locals: { inning: inning } %>
  <%= render partial: 'inning_bowling_card', locals: { inning: inning } %>
<% end%>
<%= render partial: 'info', locals: { match: @match }%>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>