<div class="card">
  <div class="card-header shadow" style="position: sticky; top: 0; z-index: 1; background-color: #eeeeee;">
    <div class="row" >
      <% @innings.order(:inning_number).each do |inning| %>
        <div class="col" id="inning<%= inning.inning_number %>-score-header">
          <div id="inning<%= inning.inning_number %>-team"><strong><%= inning.name.split("Innings").first.squish %></strong></div>
          <div id="inning<%= inning.inning_number %>-score"><%= "#{inning.runs}/#{inning.wickets}  (#{inning.overs})" %></div>
        </div>
      <% end %>
    </div>
    <div><strong><%= @match.result %></strong></div>
  </div>
  <div class="card-body" style="padding: 0">
    <div class="score-body" style="padding: 10px">
      <% @innings.order(:inning_number).each do |inning| %>
        <div class="text-center bg-light shadow" style="padding: 5px;"><h6><%= "#{inning.name.split("Innings").first} Inning #{inning.inning_number}" %></h6></div>
        <div class="table-responsive"><%= render partial: 'inning_batting_card', locals: { inning: inning } %></div>
        <div class="table-responsive"><%= render partial: 'inning_bowling_card', locals: { inning: inning } %></div>
      <% end%>
    </div>
  </div>
</div>